# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
/build

# next.js build backups / caches (do not commit)
/.next-backup-120246/
/.next.bak2/
/.next.old/

# workbuddy internal project data (memory, tmp, etc.)
/.workbuddy/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
